In [350]:
import numpy as np 
import pandas as pd
import os
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
from sklearn import metrics  
import matplotlib.pyplot as plt

In [11]:
os.chdir('E:/Credit_Card_Fraud_Project')

In [130]:
df = pd.read_csv('creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [146]:
df.shape

(284807, 31)

In [212]:
legal = df[df['Class'] == 1 ]
fraud = df[df['Class'] == 0 ].sample(n=492,axis=0)

In [213]:
legal.shape + fraud.shape

(492, 31, 492, 31)

In [450]:
frame = [ legal , fraud ]
new_df = pd.concat(frame , axis=0)
new_df

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
541,406.0,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1
623,472.0,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1
4920,4462.0,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,1
6108,6986.0,-4.397974,1.358367,-2.592844,2.679787,-1.128131,-1.706536,-3.496197,-0.248778,-0.247768,...,0.573574,0.176968,-0.436207,-0.053502,0.252405,-0.657488,-0.827136,0.849573,59.00,1
6329,7519.0,1.234235,3.019740,-4.304597,4.732795,3.624201,-1.357746,1.713445,-0.496358,-1.282858,...,-0.379068,-0.704181,-0.656805,-1.632653,1.488901,0.566797,-0.010016,0.146793,1.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253612,156331.0,0.032193,0.766740,-0.534527,-1.320918,1.470776,-1.149067,1.856745,-0.573849,-0.394181,...,0.136462,0.464879,-0.185413,0.606517,-0.418569,0.449035,-0.099833,-0.033309,23.00,0
231423,146755.0,1.880572,-0.473097,-0.474166,0.145457,-0.403100,-0.059365,-0.482663,0.069734,0.627871,...,-0.177537,-0.550452,0.420134,0.774731,-0.654254,0.169105,-0.051729,-0.036525,54.50,0
212294,138800.0,1.341256,-1.371324,-2.503607,0.343069,0.341411,-0.278887,0.867730,-0.289959,0.151867,...,0.239471,-0.080277,-0.335605,0.275948,0.114085,0.660027,-0.196256,-0.021591,399.70,0
97523,66257.0,1.239896,-1.321192,0.976475,-0.294618,-1.377927,1.062629,-1.392148,0.287151,0.819040,...,-0.597644,-0.896636,-0.159369,-0.927796,0.315946,1.152830,0.013526,0.019205,75.00,0
41764,40817.0,-6.611025,-6.131411,0.888709,0.238191,0.921489,-0.839990,-1.343990,0.251157,0.564323,...,-0.967659,1.775037,3.359470,0.175007,0.502673,-0.160472,0.737761,-0.993190,119.00,0

In [453]:
new_df.shape

(984, 31)

In [454]:
x = new_df.iloc[ : , :30  ].values
x.shape

(984, 30)

In [455]:
y = new_df.iloc[ : , 30 : 31 ]
y.shape

(984, 1)

In [458]:
x , y = make_classification(n_samples=984 , n_features=30, n_classes=2, random_state=42)

In [459]:
x_train , x_test , y_train , y_test = train_test_split( x , y , test_size=0.25 ,  stratify=y , random_state=42 )

In [460]:
x_train.shape

(738, 30)

In [461]:
y_train.shape

(738,)

In [462]:
from sklearn.ensemble import RandomForestClassifier

In [675]:
rf = RandomForestClassifier(n_estimators=91,max_features=23 , min_samples_split=22 , min_samples_leaf=19)
rf.fit( x_train , y_train )

RandomForestClassifier(max_features=23, min_samples_leaf=19,
                       min_samples_split=22, n_estimators=91)

In [676]:
y_pred = rf.predict(x_test)
 
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.8861788617886179